body{
    background:#0f0f14;
    font-family:Arial, Helvetica, sans-serif;
    height:200vh;
    overflow-x:hidden;
}

/* floating memory card */
.memory-card{
    position:absolute;
    transform:translate(-50%,-50%) scale(0.8);
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    padding:12px;
    border-radius:16px;
    text-align:center;
    color:white;
    animation:pop 0.4s ease forwards;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.memory-card img{
    width:220px;
    border-radius:12px;
    display:block;
}

.memory-card p{
    margin-top:8px;
    font-size:14px;
}

/* spawn animation */
@keyframes pop{
    from{
        opacity:0;
        transform:translate(-50%,-50%) scale(0.5);
    }
    to{
        opacity:1;
        transform:translate(-50%,-50%) scale(1);
    }
}

#lockScreen{
  position:fixed;
  inset:0;
  background:#000;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

#lockScreen .box{
  background:white;
  padding:30px;
  border-radius:20px;
  text-align:center;
}

#lockScreen input{
  padding:10px;
  margin:10px;
}

